<robot
  name="JACO3_URDF_V11" version="1.0">

  <!-- Robot  -->

  <!-- Base link -->
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000648 -0.000166 0.084487"
        rpy="0 0 0" />
      <mass
        value="1.697353" />
      <inertia
        ixx="0.004622"
        ixy="9E-06"
        ixz="6E-05"
        iyy="0.004495"
        iyz="9E-06"
        izz="0.002079" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../stl/Robot/Base_Link.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../stl/Robot/Base_Link.stl" />
      </geometry>
    </collision>
  </link>

  <!-- shoulder link -->
  <link
    name="Shoulder_Link" >
    <inertial>
      <origin
        xyz="-2.3E-05 -0.010364 -0.07336"
        rpy="0 0 0" />
      <mass
        value =  "2.0" />
      <inertia
        ixx="0.00457"
        ixy="1E-06"
        ixz="2E-06"
        iyy="0.004831"
        iyz="0.000448"
        izz="0.001409" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../stl/Robot/Shoulder_Link.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../stl/Robot/Shoulder_Link.stl" />
      </geometry>
    </collision>
  </link>
