<robot
  name="Puck" version="1.0">

  <!-- Robot  -->

  <!-- Base link -->
  <link
    name="Puck">
    <inertial>
      <origin
        xyz="0.0 0.0 0.025"
        rpy="0 0 0" />
      <mass value="2.0" />
      <inertia ixx = "0" ixy = "0" ixz = "0"
               iyx = "0" iyy = "0" iyz = "0"
               izx = "0" izy = "0" izz = "0" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
         <cylinder radius="0.05" length="0.05"/>
      </geometry>
      <material name="blockmat1">
        <color rgba="0.8 0.2 0.1 1"/>
      </material>
    </visual>
    <contact>
      <lateral_friction value="0.02"/>
      <rolling_friction value="0.0"/>
    </contact>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
     <geometry>
        <cylinder radius="0.05" length="0.05"/>
     </geometry>
    </collision>
  </link>

</robot>
